<div class="author">
    <h1 class="author__heading">Hi, I'm Ere</h1>
    <p class="author__body">
        fullstack developer and struggling with ts shitlife
    </p>
</div>
<img src="/images/hero-image.webp" class="hero-image" alt="" width="981" height="528">

<section class="article">
    <h2 class="article__heading">Latest Posts</h2>

    <ul class="article-ul">
        <li>
            <a href="#">
                <span>Post Title</span>
                <span class="article-list__date">11/11/2011</span>
            </a>
        </li>
    </ul>

    <a href="#" class="pagination">&lt; View older posts</a>
</section>